#!/usr/local/plan9/bin/rc

# If you use mpd and want a "now playing" in i3, make this your $status_command
# You definitely want to make sure i3status' output mode is is set to i3bar,
# because we're being evil and manipulating json with regex.

. `{dirname $0}^/9.subr

ifs='
'                        # don't split on spaces in your regex
trigger_prefix='trunk0:' # The prefix of the item you want this to be *after* 
np_prefix='mpd:'         # This item's prefix

i3status | while ()
	read | sed 's/('$trigger_prefix' [^"]+"},)/\1{"full_text":"'$np_prefix' '^`{{
		if (mpc | grep playing >/dev/null)
			echo '▶' `{mpc current}
		if not if (mpc | grep paused >/dev/null)
			echo '▮▮' `{mpc current}
		if not
			echo '◾'
		} | sanitize 
	}^'","name":"mpd"},/'

